<tool name="Tester2">  <version>0.6.0</version>  <date>2019-11-19</date>  <container>#.Tester2</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>IniFiles</script>    <script>WinSys</script>  </needs>  <autoload>1</autoload>  <scriptOnly>1</scriptOnly>  <buildid>7</buildid></tool>